.banner{
  height: 80vh;
  background-image: url('../../images/bannerbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.search-section{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 30%;
}
.input-group{
    margin:0px 15% ;
}
.input-group input{
    width: 60%;
    border-radius: 20px;
    border: none;
    padding:0 8% 0 5%;
}
.search-button{
    border: none;
    border-radius: 20px;
    background-color: #F91944;
    color: #fff;
    padding: 5px 20px;
    margin-left: -25px;
}
#search:focus{
    outline: initial;
    text-align: center;
}
